<div th:fragment="_header">
    <link rel="stylesheet" href="/css/style.css">

    <nav class="bank-navbar">
        <ul class="bank-navbar-list">
            <li>
                <a class="bank-logo" th:href="@{/main}">BANK</a>
            </li>

            <li>
                <a th:href="@{/main}">Home</a>
            </li>

            <li class="bank-payment-menu">
                <a href="#">Payment</a>

                <ul class="bank-payment-dropdown">
                    <li>
                        <a th:href="@{/api/payments/new}">Create new payment</a>
                    </li>
                    <li>
                        <a th:href="@{/payment}">View all payments</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">Loan</a>
            </li>

            <li>
                <a th:href="@{/currency}">Currency</a>
            </li>

            <li>
                <a th:href="@{/logout}">Log out</a>
            </li>
        </ul>
    </nav>
</div>