<div th:fragment="_header">
    <link rel="stylesheet" href="/css/style.css">

    <nav class="bank-navbar">
        <ul class="bank-navbar-list">
            <li>
                <a class="bank-logo" th:href="@{/}">BANK</a>
            </li>

            <li>
                <a th:href="@{/}">Home</a>
            </li>

            <li class="bank-payment-menu">
                <a href="#">Payment</a>

                <ul class="bank-payment-dropdown">
                    <li>
                        <a th:href="@{/payments/new}">Create new payment</a>
                    </li>
                    <li>
                        <a th:href="@{/payments}">View all payments</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">Loan</a>
            </li>

            <li>
                <a th:href="@{/currency}">Currency</a>
            </li>

            <li>
                <form th:action="@{/logout}" method="post" class="bank-logout-form">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <button type="submit" class="bank-logout-button">Log out</button>
                </form>
            </li>
        </ul>
    </nav>
</div>